*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 90vh;
    display: flex;
    
    flex: 1;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.video_holder{
    padding-top: 200px;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: purple; 
    align-items: center;
    justify-content: center; 
}
